/* 
    For Mobile devices: 320px-480px
    For Tablets or iPad: 480px - 768px
    For Laptop or small-size screen: 768px -1024px
    For Desktop or large-size screen: 1024px -1200px
    For Extra-large size device: 1200px and more

*/



/*  responsive */
/* 1200px */

@media screen and (max-width:1200px) {
    .header-main .haeder-info h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .header-main span {
        font-size: 20px;
        font-weight: 500;
    }

    .header-main .haeder-info p {
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 9px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .header-main .header-img img {
        max-width: 100%;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        object-fit: cover;
    }

    .footer_main {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


}

/* 990px */
@media screen and (max-width:990px) {


    .header-main .haeder-info h1 {
        color: var(--color-header);
        font-size: 40px !important;
        font-weight: 600;
        margin-bottom: 15px !important;

    }

    .header-main span {
        font-size: 20px;
        font-weight: 400;
        display: block;
        text-align: start;

    }

    .header-main .haeder-info p {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 9px;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .about .about-main {

        display: grid;
        grid-template-columns: 1fr;
        border: none;
    }

    .about .about-main .experience-img {

        display: none;
    }

    .about .about-main-skils {
        display: grid;
        grid-template-columns: 1fr;
        background: #eeeeee;
        gap: 30px;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
    }

    .about .about-main::after {
        display: none;
    }

    .about .about-main p {
        font-size: 17px;
        max-width: 100%;
    }



    /* .header-main .header-img img {
  max-width: 100%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
    } */

    .services .services_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 10px;

    }

    .footer_main {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }



}




/* 790px */
@media screen and (max-width:790px) {
        .ber_logo   {
     display: inline;
position: absolute;
line-height: 80px;
left: 38px;
top: -10px;
}

    .ber_logo img  {
    margin-top: 35px;
}
.ber_logo a  {
color: #fff;
position: absolute;
line-height: 80px;
text-decoration: none;
top: 7px;
left: 48px;
font-size: 18px;
}
    .header-main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .header-main .haeder-info {
        grid-row: 2;
    }

    .header-main .haeder-info h1 {
        font-size: 40px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .header-main .haeder-info p {
        font-size: 25px;
        font-weight: 200;


    }

    .header-main .header-img img {
        height: 300px;
        width: 300px;
    }


    .menu {
        position: fixed;
        height: 100%;
        width: 76%;
        left: -100%;
        top: 0;
        background-color: var(--side-nav);
        color: #fff;
        z-index: 100;
        transition: all .5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }

    nav.active .menu {
        left: -0%;
    }

    nav .nav-ber .logo,
    .logo-nav {
        display: block;
    }

    nav .nav-ber .sidebarOpen {
        display: block;
    }

    .menu .logo_toggel {
        display: block;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        transform: translate;
        position: relative;
        margin-top: -10px;
    }

    .menu .logo_toggel a {
        margin-left: 15px;
        margin-top: 10px;
        font-size: 20px;
    }

    .menu .logo_toggel i {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .menu .nav-links {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .menu .nav-links li a {
        display: block;
    }

    .services .services_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 20px; */

    }

    .about {
        margin-top: 450px;

    }
        .services .services_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 10px;

    }



    .footer_main {
        display: grid;
        grid-template-columns: 1fr;

    }


}

/* 600px */

@media screen and (max-width:600px) {
    .clickUp {
        width: 50px;
        height: 50px;
        bottom: 30px;

    }

    .clickUp i {
        font-size: 30px;
        margin-top: 10px;
    }
    .header-main {
        gap: 30px;
        padding-top:14px;
    }

    .header-main .haeder-info h1 {
        font-size: 25px !important;
        font-weight: 700;
            width: 100%;
    }

    .header-main .haeder-info p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        text-align: start;

     
    }

    .header-main .header-img img {
        height: 150px;
        width: 150px;
    }
        .services .services_main {
        display: grid;
        grid-template-columns: 1fr;

    }


    .services h3 {
        font-size: 20px;
    }
      .services p {
        font-size: 20px;
    }

    .about {
        margin-top: 350px;

    }

}